<footer style="background-color: #F8F9FA;
      color: #57578C;
      padding: 20px;
      position: sticky;
      bottom: 0;
      width: 100%;
      margin-top: auto;>
    <div class="container">
      <h2 style="text-align: center; font-size: 20px">Всі права захищенні © Study center 2023</h2>
    </div>
  </footer>